@import "tailwindcss";
@import "./swiper-bundle.min.css";
@import "./main.css";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where([data-color-scheme=dark], [data-color-scheme=dark] *));

