@import url('https://fonts.loli.net/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Noto+Sans+SC:wght@300;400;500;700&display=swap');
@import "tailwindcss";
@import "./swiper-bundle.min.css";
@import "./main.css";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where([data-color-scheme=dark], [data-color-scheme=dark] *));

