@theme{
    --color-primary: #53b175;
    --spacing-112: 28rem;
    --spacing-120: 30rem;
    --spacing-128: 32rem;
    --font-sans: "Space Grotesk", "Noto Sans SC", -apple-system, "Microsoft YaHei", "PingFang SC", sans-serif;
}

/* 隐藏滚动条 */
@utility scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.prose :where(blockquote p,code)::before,
.prose :where(blockquote p,code)::after {
    content: "";
}
.prose :where(table) {
    @apply w-full!;
}
.prose :where(td,th,hr,table,tr,tr td) {
    @apply border border-gray-200! dark:border-white/30!;
}
.prose :where(blockquote p ,a,h1,h2,h3,h4,h5,h6,p,code,span) {
    @apply not-italic font-normal text-gray-800 dark:text-white/90;
}
.prose :where(img) {
    @apply my-0 aspect-auto object-contain rounded-xl;
}
.post-tag :where(a.tag)::before {
    content: "#";
    @apply mr-1 opacity-80;
}
.post-tag :where(code) {
    @apply wrap-break-word break-all;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 5px;
    border-radius: 5px;
    @apply bg-gray-400/50 dark:bg-white/60;
    transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
    width: 20px;
    @apply bg-gray-600/40 dark:bg-white/80;
}